[Unit]
Description=Load firmware that is located on dedicated partitions of qcom devices
Before=systemd-udevd.service
DefaultDependencies=no
RequiresMountsFor=/sys /dev

[Service]
ExecStart=/usr/sbin/msm-firmware-loader.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
